@media (max-width: 1530px) {
  .video-box {
    flex-direction: column;
    align-items: center;
  }
  .video-box-right {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .about-img {
    display: none;
  }
  .serving-qa {
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
  }
  .blog-title {
    text-align: center;
  }
  .blog-list {
    flex-direction: column;
    align-items: center;
  }
  .blog-list-item {
  }
  .about-img-dark {
    margin-top: 9px;
  }
  .featured-box {
    flex-direction: column;
    gap: 70px;
    align-items: center;
  }
  .blog-overlay-content {
    position: static;
  }
  .featured-list {
    flex-direction: row;
  }
  .featured-list-item {
    flex-direction: column;
    border: 1px solid #2e2d33;
  }
  .featured-item-box-text {
    padding: 10px;
  }
  .contact-section-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 1100px) {
  .contact-box {
    flex-direction: column;
    gap: 50px;
  }
  .contact-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-right: 50px;
  }
  .frame {
    width: 100%;
  }
  .company-box {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
  }
  .company-box-right {
    margin-right: 0;
  }
  .company-text {
    margin: 0 auto;
    margin-top: 30px;
  }
  .article-list {
    flex-direction: column;
    gap: 60px;
    align-items: center;
  }
  .article-list-item {
    align-items: center;
    width: 100%;
  }
  .article-item-box {
    display: flex;
    flex-direction: column;
  }
  .article-item-box-right {
    max-width: 220px;
  }
  .article-item-img {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .hero-box {
    flex-direction: column;
    align-items: center;
  }
  .hero-box-left {
    align-items: center;
    text-align: center;
  }
  .about-box {
    flex-direction: column;
    align-items: center;
  }
  .about-box-right {
    align-items: center;
  }
  .about-img-dark {
  }
  .serving-list {
    align-items: center;
  }
  .serving-list-item {
    width: calc(50% - 128px);
  }
  .menu-list {
  }
  .menu-list-item {
    width: calc(50% - 32px);
  }
  .history {
    padding-left: 0;
  }
  .history-title {
    text-align: center;
  }
  .history-list {
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    gap: 50px;
    align-items: center;
  }
  .history-list-item {
    width: calc(50% - 50px);
  }
  .history-item-text {
    margin: 0 auto;
  }
  .history-line {
    max-width: 100%;
    margin-top: 40px;
    border-top: none;
  }
  .history-line-media {
    display: flex;
    max-width: 240px;
    display: none;
  }
  .history-item-title::before {
    left: 50%;
    transform: translateX(-50%);
  }

  .story-box {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .story-text-left {
    margin: 0 auto;
    margin-top: 40px;
  }
}
@media (max-width: 830px) {
  .header-nav {
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
  }
  .floor {
    flex-direction: column;
    gap: 30px;
  }
  .floor-list {
    margin-left: 130px;
  }
  .cafe-text {
    color: #fff;
  }
}
@media (max-width: 695px) {
  .header-box {
    flex-direction: column;
    gap: 20px;
  }
  .serving-list {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .serving-list-item {
    width: 100%;
  }
  .serving-item-text {
    margin: 0 auto;
  }
  .section-menu-discover {
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
  }
  .menu-list-item {
    width: 100%;
  }
  .contact-list {
    flex-direction: column;
  }
  .footer-list {
    flex-wrap: wrap;
    text-align: center;
  }
  .footer-list-item {
    width: calc(33.33% - 40px);
  }
  .menu-top {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .categories-list {
    flex-direction: column;
  }
  .featured-list {
    flex-direction: column;
  }
  .author-name::after {
    display: none;
  }
  .contact-form-message {
    width: 100%;
  }
}
@media (max-width: 595px) {
  .story-images {
    flex-direction: column;
  }
  .contact-section-box-right {
    flex-direction: column;
  }
}
@media (max-width: 540px) {
  .header-nav {
    align-items: center;
  }
  .header-box {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .header-nav-list {
    flex-direction: column;
    padding-left: 0;
    align-items: center;
  }
  .about-list {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about-item-title {
    justify-content: center;
  }
  .about-btn {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
  }
  .about-box-right {
    flex-direction: column;
    gap: 40px;
  }
  .cafe {
    padding-left: 20px;
  }
  .featured-title-left {
    padding-left: 0;
    text-align: center;
    margin: 0 auto;
  }
  .author-box {
    flex-direction: column;
    padding-left: 0;
    gap: 20px;
  }
  .author-box-text {
    text-align: center;
    padding-left: 0;
  }
  .featured-link-left {
    align-items: center;
    margin: 0 auto;
    padding-right: 0;
  }
  .video-box-left {
    width: 100%;
  }
  .video-box-left-inner {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .video-text {
    max-width: 100%;
  }
  .history-list-item {
    width: 100%;
  }
}
@media (max-width: 420px) {
  .hero-title {
    font-size: 42px;
  }
  .footer-list-item {
    width: 100%;
  }
}
