body {
  background: #19161b;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.subtitle-line {
  display: flex;
  align-items: center;
}
.line {
  margin-left: 16px;
  border-bottom: 1px solid #fff;
  width: 48px;
}
.menu-btn-link{
    text-decoration: none;
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: #2e2d33;
}
.header {
  padding-top: 30px;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-logo-link,
.footer-logo {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 20px;
  line-height: 150%;
  color: #ffc492;
  text-decoration: none;
}
.header-nav-list {
  display: flex;
  gap: 40px;
  padding-left: 50px;
}
.header-nav-item-link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
}
.header-nav-clone-link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #ffc492;
  text-decoration: none;
  margin-left: auto;
}
.arrow {
  color: #fff;
  margin-left: 12px;
  width: 20px;
}
.hero-section {
  padding-top: 170px;
}
.hero-box {
  display: flex;
}
.hero-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 56px;
  line-height: 121%;
  color: #fff;
  opacity: 0.87;
  width: 560px;
}
.hero-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #b8b8b8;
  width: 520px;
  margin-top: 16px;
}
.hero-btn {
  border: none;
  background: #ffb577;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #2e2d33;
  width: 164px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 32px;
}

.hero-list {
  margin-top: 40px;
}
.hero-list-item {
  margin-top: 16px;
}
.hero-item-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #fff;
}
.hero-item-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #fff;
  opacity: 0.6;
}
.hero-box-right {
  position: relative;
}
.hero-img {
  position: absolute;
  top: -96px;
  left: 32px;
}
.about-section {
  margin-top: 235px;
}
.about-box {
  display: flex;
}
.subtitle {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffb577;
}

.about-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 121%;
  color: #fff;
  width: 550px;
  margin-top: 24px;
}
.about-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #b8b8b8;
  width: 500px;
  margin-top: 32px;
}
.about-list {
  display: flex;
  margin-top: 40px;
  gap: 32px;
}
.about-list-item {
  width: 150px;
}
.about-item-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #c4e4ea;
}
.about-item-subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #b8b8b8;
}
.about-item-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #b8b8b8;
  margin-top: 15px;
}
.about-btn {
  margin-top: 32px;
  border: none;
  width: 164px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #2e2d33;
  background: #ffb577;
}
.about-box-right {
  position: relative;
}
.about-img-dark {
  position: absolute;
  top: 95px;
  left: 109px;
}
.about-img {
  position: absolute;
  top: 0;
  left: 409px;
}
.serving-section {
  margin-top: 160px;
}

.subtitle {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffb577;
}
.serving-qa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 34px;
}
.serving-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 121%;
  color: #fff;
  opacity: 0.87;
  width: 660px;
}
.serving-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #b8b8b8;
  width: 450px;
}
.serving-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: rgba(0, 0, 0, 0.16);
  margin-top: 61px;
  padding-top: 68px;
  padding-bottom: 58px;
  gap: 128px;
}

.serving-item-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #fff;
  margin-top: 24px;
}
.serving-item-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #b8b8b8;
  width: 250px;
  margin-top: 12px;
}
.section-menu {
  margin-top: 160px;
}
.section-menu-discover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}
.menu-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 121%;
  color: #fff;
  width: 390px;
}
.menu-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #b8b8b8;
  width: 405px;
}
.menu-subtext {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #c4e4ea;
  margin-top: 32px;
}
.menu-list {
  margin-top: 83px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.menu-item-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 18px;
  padding-left: 32px;
  padding-right: 29px;
  background: #1f1d21;
}
.menu-item-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #fff;
  opacity: 0.87;
}
.menu-item-price {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  color: #fff;
  opacity: 0.87;
}
.menu-btn {
  display: block;
  margin: 0 auto;
  border: none;
  width: 164px;
  margin-top: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #2e2d33;
  background: #ffb577;
}
.section-video {
  margin-top: 160px;
}
.video-box {
  display: flex;

  background: #1f1d21;
}
.video-box-left {
}
.video-title {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 72px;
  line-height: 128%;
  color: #fff;
  padding-top: 80px;
}
.video-text {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 32px;
  line-height: 150%;
  color: #fff;
  opacity: 0.87;
  width: 390px;
  margin-top: 43px;
}
.creator {
  display: flex;
  align-items: center;
  margin-top: 72px;
}
.creator-name {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  opacity: 0.87;
}

.creator-location {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  color: #fff;
  opacity: 0.6;
  margin-top: 4px;
}
.creator-img {
  margin-left: 255px;
}
.creator-line {
  border-bottom: 2px solid #fff;
  width: 407px;
  height: 0px;
  opacity: 0.24;
  margin-top: 22px;
  margin-bottom: 84px;
}
.blog-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 121%;
  color: #fff;
  margin-top: 160px;
}
.blog-list {
  display: flex;
  gap: 32px;
}
.blog-list-item {
  margin-top: 64px;
  background: #1f1d21;
}
.blog-info {
  padding-left: 32px;
  margin-bottom: 32px;
}
.blog-date {
  margin-top: 32px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #b8b8b8;
}
.blog-item-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #fff;
  opacity: 0.87;
  margin-top: 8px;
  width: 341px;
}
.blog-item-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #b8b8b8;
  width: 270px;
}
.section-contact {
  margin-top: 160px;
}
.contact-box {
  display: flex;
  justify-content: space-between;
  background: #1f1d21;
}

.contact-list {
  margin-top: 80px;
  padding-left: 64px;
}
.contact-item-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #fff;
  margin-top: 32px;
}
.contact-item-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #b8b8b8;
  padding-top: 6px;
}
.footer-title {
  padding-top: 160px;
  text-align: center;
}
.footer-list {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.footer-item-link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
}
.floor-line {
  margin-top: 32px;
  border-top: 1px solid #fff;
  max-width: 1600px;
}
.floor {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 28px;
}
.floor-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-transform: capitalize;
  color: #b8b8b8;
}
.floor-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.floor-contact-link {
  /* margin-left: auto; */
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}
.gold-line {
  width: 1px;
  color: #ffb577;
}







.menu-hero{
    margin-top: 96px;
}
.menu-top{
    display: flex;
    justify-content: space-between;
    align-items:  center;
}
.menu-hero-title{
    font-family: var(--second-family);
font-weight: 700;
font-size: 56px;
line-height: 121%;
color: #fff;
width: 580px;
}
.menu-hero-text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 175%;
color: #b8b8b8;
width: 405px;
}
.categories-list{
    margin-top: 144px;
    display: flex;
    gap: 32px;
}
.categories-item-link{
    text-decoration: none;
    font-family: var(--second-family);
font-weight: 700;
font-size: 20px;
line-height: 150%;
color: #fff;
opacity: 0.6;
}
.categories-item-link-white{
    color: #fff;
    opacity: 1;
}