body {
  background: #19161b;
}
* {
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}
.subtitle-line {
  display: flex;
  align-items: center;
}
.line {
  margin-left: 16px;
  border-bottom: 1px solid #fff;
  width: 48px;
}
.menu-btn-link {
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #2e2d33;
}
.header {
  padding-top: 30px;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-logo-link,
.footer-logo {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 20px;
  line-height: 150%;
  color: #ffc492;
  text-decoration: none;
}
.header-nav-list {
  display: flex;
  gap: 40px;
  padding-left: 50px;
}
.header-nav-item-link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
}
.header-nav-clone-link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #ffc492;
  text-decoration: none;
  margin-left: auto;
}
.arrow {
  color: #fff;
  margin-left: 12px;
  width: 20px;
}
.hero-section {
  margin-top: 170px;
}
.hero-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}
.hero-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 56px;
  line-height: 121%;
  color: #fff;
  opacity: 0.87;
  max-width: 560px;
  padding-top: 74px;
}
.hero-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #b8b8b8;
  max-width: 520px;
  margin-top: 16px;
}
.hero-btn {
  border: none;
  background: #ffb577;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #2e2d33;
  width: 164px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 32px;
}

.hero-list {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.hero-list-item {
}
.hero-item-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #fff;
}
.hero-item-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #fff;
  opacity: 0.6;
}
.hero-box-right {
}
.hero-img {
}
.about-section {
  margin-top: 235px;
}
.about-box {
  display: flex;
  justify-content: center;
  gap: 102px;
}
.subtitle {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffb577;
}

.about-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 121%;
  color: #fff;
  width: 550px;
  margin-top: 24px;
}
.about-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #b8b8b8;
  width: 500px;
  margin-top: 32px;
}
.about-list {
  display: flex;
  margin-top: 40px;
  gap: 32px;
}
.about-list-item {
  width: 150px;
}
.about-item-title {
  display: flex;
  gap: 7px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #c4e4ea;
}
.about-item-subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #b8b8b8;
}
.about-item-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #b8b8b8;
  margin-top: 15px;
}
.about-btn {
  margin-top: 32px;
  border: none;
  width: 164px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #2e2d33;
  background: #ffb577;
}
.about-box-right {
  display: flex;
  align-items: flex-start;
  gap: 67px;
}
.about-img-dark {
  display: block;
  margin-top: 83px;
}
.about-img {
}
.serving-section {
  margin-top: 160px;
}

.subtitle {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffb577;
  display: flex;
  align-items: center;
  gap: 16px;
}
.serving-qa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 34px;
}
.serving-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 121%;
  color: #fff;
  opacity: 0.87;
  max-width: 660px;
}
.serving-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #b8b8b8;
  max-width: 450px;
}
.serving-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: rgba(0, 0, 0, 0.16);
  margin-top: 61px;
  padding-top: 68px;
  padding-bottom: 58px;
  gap: 128px;
}
.serving-list-item {
  width: calc(33.33% - 128px);
}
.serving-item-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #fff;
  margin-top: 24px;
}
.serving-item-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #b8b8b8;
  width: 250px;
  margin-top: 12px;
}
.section-menu {
  margin-top: 160px;
}
.section-menu-discover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}
.menu-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 121%;
  color: #fff;
  width: 390px;
}
.menu-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #b8b8b8;
  width: 405px;
}
.menu-subtext {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #c4e4ea;
  margin-top: 32px;
}
.menu-list {
  margin-top: 83px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.menu-list-item {
  width: calc(33.33% - 32px);
}
.menu-item-img {
  display: block;
  width: 100%;
}
.menu-item-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 18px;
  padding-left: 32px;
  padding-right: 29px;
  background: #1f1d21;
}
.menu-item-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #fff;
  opacity: 0.87;
}
.menu-item-price {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  color: #fff;
  opacity: 0.87;
}
.menu-btn {
  display: block;
  margin: 0 auto;
  border: none;
  width: 164px;
  margin-top: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #2e2d33;
  background: #ffb577;
}
.section-video {
  margin-top: 160px;
}
.video-box {
  display: flex;

  background: #1f1d21;
}
.video-box-left {
  width: 40%;
}
.video-box-left-inner {
  max-width: 436px;
  margin: 0 auto;
}
.video-title {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 72px;
  line-height: 128%;
  color: #fff;
  padding-top: 80px;
}
.video-text {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 32px;
  line-height: 150%;
  color: #fff;
  opacity: 0.87;
  width: 390px;
  margin-top: 43px;
}
.creator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 72px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);
  padding-bottom: 22px;
  max-width: 437px;
}
.creator-name {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  opacity: 0.87;
}

.creator-location {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  color: #fff;
  opacity: 0.6;
  margin-top: 4px;
}
.creator-right {
  position: relative;
}
.creator-right::after {
  content: "";
  position: absolute;
  display: block;
  width: 49px;
  height: 2px;
  background-color: #fff;
  bottom: -22px;
}
.video-box-right {
  width: 60%;
}
.creator-img {
}

.blog-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 121%;
  color: #fff;
  margin-top: 160px;
}
.blog-list {
  display: flex;
  gap: 32px;
}
.blog-list-item {
  margin-top: 64px;
  background: #1f1d21;
}
.blog-info {
  padding-left: 32px;
  margin-bottom: 32px;
}
.blog-date {
  margin-top: 32px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #b8b8b8;
}
.blog-item-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #fff;
  opacity: 0.87;
  margin-top: 8px;
  width: 341px;
}
.blog-item-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #b8b8b8;
  width: 270px;
}
.section-contact {
  margin-top: 160px;
}
.contact-box {
  display: flex;
  justify-content: space-between;
  background: #1f1d21;
}

.contact-list {
  margin-top: 80px;
  padding-left: 64px;
}
.contact-item-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #fff;
  margin-top: 32px;
}
.contact-item-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #b8b8b8;
  padding-top: 6px;
}
.frame {
  width: 837px;
  height: 532px;
}

.footer-title {
  padding-top: 160px;
  text-align: center;
}
.footer-list {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.footer-item-link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
}
.floor-line {
  margin-top: 32px;
  border-top: 1px solid #fff;
  max-width: 1600px;
}
.floor {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 28px;
}
.floor-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-transform: capitalize;
  color: #b8b8b8;
}
.floor-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  transform: translateX(-50%);
}
.floor-contact-link {
  /* margin-left: auto; */
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}
.gold-line {
  width: 1px;
  color: #ffb577;
}

.menu-hero {
  margin-top: 96px;
}
.menu-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subtitle::after {
  content: "";
  display: block;
  width: 48px;
  height: 1px;
  background-color: #fff;
}
.menu-hero-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 56px;
  line-height: 121%;
  color: #fff;
  width: 580px;
}
.menu-hero-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #b8b8b8;
  width: 405px;
}
.categories-list {
  margin-top: 144px;
  display: flex;
  gap: 32px;
}
.categories-item-link {
  text-decoration: none;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #fff;
  opacity: 0.6;
}
.categories-item-link-white {
  color: #fff;
  opacity: 1;
}

.about {
  margin-top: 96px;
}

.cafe {
  margin-top: 160px;
  margin-bottom: 3px;
  background: linear-gradient(
      136deg,
      rgba(25, 22, 27, 0.92) 21.15%,
      rgba(25, 22, 27, 0) 52.15%
    ),
    url("../img/BG.jpg");
  padding: 124px 0 124px 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cafe-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 121%;
  color: #fff;
  width: 400px;
}
.title-yellow {
  color: #ffc492;
}
.cafe-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #b8b8b8;
  width: 350px;
  margin-top: 24px;
}
.history {
  background: rgba(255, 255, 255, 0.03);
  padding-left: 88px;
}
.history-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #fff;
  padding-top: 80px;
}
.history-line {
  border-top: 2px dashed rgba(255, 255, 255, 0.15);
  max-width: 1118px;
  margin-top: 70px;
}
.history-list {
  display: flex;
  justify-content: space-between;
}
.history-item-title {
  position: relative;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 137%;
  color: #fff;
  margin-top: 34px;
  padding-top: 20px;
}
.history-item-title::before {
  position: absolute;
  top: -38px;
  left: 0;
  content: "";
  border-top: 6px solid #ffb577;
  width: 46px;
}

.history-item-subtitle {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #fff;
  margin-top: 16px;
}
.history-item-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #b8b8b8;
  width: 190px;
  margin-bottom: 83px;
}
.company-box {
  display: flex;
  justify-content: space-between;
  margin-top: 157px;
}
.company-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 121%;
  color: #fff;
  opacity: 0.87;
  width: 560px;
}
.company-box-right {
  margin-right: 41px;
}
.company-title-right-box {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #fff;
  opacity: 0.87;
  width: 520px;
}
.company-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #b8b8b8;
  width: 430px;
  margin-top: 24px;
}

.story {
  margin-top: 96px;
}
.story-box {
  display: flex;
  gap: 113px;
}
.story-box-left {
}
.story-title-left {
  font-family: var(--second-family);g
  font-weight: 700;
  font-size: 56px;
  line-height: 121%;
  color: #fff;
}
.story-text-left {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #b8b8b8;
  width: 410px;
  margin-top: 24px;
}
.story-images {
  display: flex;
  gap: 64px;
  margin-top: 32px;
}
.story-box-img-out {
  margin-top: 72px;
}
.story-box-img {
  padding-bottom: 32px;
}
.story-box-right {
}
.story-title-right {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #fff;
}
.story-text-right {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #b8b8b8;
  width: 440px;
  margin-top: 24px;
}
.story-text-right-lower {
  margin-top: 16px;
}

.featured-title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 133%;
  text-align: center;
  color: #fff;
  margin-top: 96px;
}
.featured-box {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
}
.featured-box-left {
  position: relative;
  width: 100%;
  max-width: 624px;
}
.featured-box-img-left {
  width: 100%;
  height: auto;
  display: block;
  z-index: 1;
  position: relative;
}
.featured-box-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  object-fit: cover;
}
.blog-overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  color: #fff;
}
.featured-btn {
  width: 159px;
  padding-top: 14px;
  padding-bottom: 14px;
  backdrop-filter: blur(19px);
  background: rgba(255, 196, 146, 0.47);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  color: #fff;
  border: none;
}
.featured-title-left {
  padding-top: 184px;
  padding-left: 64px;
  width: 400px;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 133%;
  color: #fff;
}
.author-box {
  display: flex;
  padding-left: 64px;
  padding-top: 40px;
  align-items: center;
}
.author-box-text {
  padding-left: 16px;
}
.author-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #fff;
  opacity: 0.87;
}
.author-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #fff;
  opacity: 0.6;
}
.featured-link-left {
  margin-left: auto;
  padding-right: 64px;
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #fff;
  opacity: 0.87;
}
.featured-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.featured-list-item {
  display: flex;
  gap: 32px;
}
.featured-item-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #fff;
  opacity: 0.87;
  width: 350px;
}
.featured-item-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #b8b8b8;
  width: 300px;
  margin-top: 16px;
}
.article-title {
  margin-top: 160px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 122%;
  text-align: center;
  color: #fff;
  opacity: 0.87;
}
.article-list {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
}
.article-list-item {
  width: calc(50% - 61px);
}
.article-item-box {
  display: flex;
  align-items: center;
}
.article-item-box-right {
  margin-left: 40px;
}
.article-author-box {
  display: flex;
  align-items: center;
}
.article-box-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #fff;
  opacity: 0.87;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 280px;
}
.article-box-link {
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #fff;
}

.store-tomato {
  margin-top: 96px;
}
.author-post {
  display: flex;
  justify-content: center;
  align-items: center;
}

.author-name {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #fff;
  opacity: 0.87;
  margin-left: 12px;
  margin-right: 24px;
  position: relative;
}
.author-name::after {
  position: absolute;
  content: "";
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  width: 648px;
  bottom: -24px;
  left: -212px;
}
.author-posted {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #fff;
  opacity: 0.6;
}
.tomato-title {
  display: flex;
  margin: 0 auto;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 121%;
  color: #fff;
  width: 850px;
  margin-top: 56px;
  text-align: center;
  padding-bottom: 80px;
}
.info-section {
  padding-top: 80px;
}

.info-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #fff;
  opacity: 0.87;
  width: 760px;
  margin: 0 auto;
  margin-bottom: 24px;
}
.info-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 760px;
  margin: 0 auto;
}
.info-list-item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #b8b8b8;
}
.steps-list {
  margin: 0 auto;
  width: 760px;
}
.steps-item-title {
  margin-top: 40px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #fff;
}
.steps-item-title-second {
  margin-top: 40px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #fff;
  opacity: 0.87;
}
.steps-item-text {
  margin-top: 24px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #b8b8b8;
}

.contact-page-section {
  margin-top: 96px;
}
.contact-section-box {
  display: flex;
  justify-content: space-between;
}
.contact-section-box-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 121%;
  color: #fff;
  opacity: 0.87;
  width: 500px;
}
.contact-section-box-text {
  margin-top: 24px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #fff;
  opacity: 0.6;
}
.contact-box-form {
  display: flex;
  gap: 32px;
  margin-top: 40px;
  flex-wrap: wrap;
}
.contact-form {
  width: 296px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: transparent;
  padding-left: 32px;
  padding-top: 14px;
  padding-bottom: 14px;
}
.contact-form-message {
  width: 623px;
  margin-top: 24px;
  padding-bottom: 105px;
}
.contact-box-btn {
  display: block;
  margin-top: 32px;
  border: none;
  background: #27252d;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  opacity: 0.87;
  width: 213px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.contact-section-box-right {
  display: flex;
  gap: 64px;
}
.contact-box-img {
  margin-top: 64px;
}
